@import "./libs/styles/main.scss";

.header-bar {
  background: #fad391;
  box-shadow: 0 4px 6px #bfb9af;
}

.dashboard {
  display: flex;
  .dashboard-card {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: .5em;
    margin: .5em;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    span {
      font-size: 64pt;
      color: #840e7c;
    }
    div {
      font-size: 20pt;
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
    }
  }
}
